<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--     <add name="VITTORINOConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\VITTORINO.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->
     <!--<add name="VITTORINOConnectionString1" connectionString="Data Source=KAZUNORI-PC\SQLEXPRESS;Initial Catalog=VITTORINO;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="VITTORINOConnectionString1" connectionString="Data Source=tcp:afhzacbi8y.database.windows.net,1433;Initial Catalog=VITTORINO;Integrated Security=False;User ID=koitsu884@afhzacbi8y;Password=kazu@884;Connect Timeout=30;Encrypt=True" providerName="System.Data.SqlClient" />-->
   <add name="VITTORINOConnectionString1" connectionString="workstation id=VITTORINO.mssql.somee.com;packet size=4096;user id=koitsu884_SQLLogin_1;pwd=kazu_1234;data source=VITTORINO.mssql.somee.com;persist security info=False;initial catalog=VITTORINO"  providerName="System.Data.SqlClient"/>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:afhzacbi8y.database.windows.net,1433;Initial Catalog=VITTORINO;Integrated Security=False;User ID=koitsu884@afhzacbi8y;Password=kazu@884;Connect Timeout=30;Encrypt=True" />-->
  </connectionStrings>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <anonymousIdentification enabled="true" />
    <profile enabled="true" defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="VITTORINOConnectionString1" applicationName="/" />
        <!--<add name="DefaultProfileProvider" type="System.Web.Providers" connectionStringName="VITTORINOConnectionString1" applicationName="/" />-->
      </providers>
      <properties>
        <add name="SCart" serializeAs="Binary" type="VITTORINO_ShoppingCart.Cart" allowAnonymous="true" />
        <add name="UserDetail" serializeAs="Binary" type="VITTORINO_User.UserDetail" allowAnonymous="true" />
      </properties>
    </profile>
    <membership defaultProvider="SqlProvider"
        userIsOnlineTimeWindow="15">
      <providers>
        <add
          name="SqlProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="VITTORINOConnectionString1"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="false"
          passwordFormat="Hashed"
          maxInvalidPasswordAttempts="5"
          passwordAttemptWindow="10" />
      </providers>
    </membership>
    
    <pages theme="Default" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Index.aspx" timeout="2880" />
    </authentication>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
  </system.web>
</configuration>